__object__:
  path: depth_anything_3.model.da3
  name: DepthAnything3Net
  args: as_params

net:
  __object__:
    path: depth_anything_3.model.dinov2.dinov2
    name: DinoV2
    args: as_params

  name: vitg
  # 提取7层：[11, 15, 19, 23, 27, 33, 39]
  # 索引对应：[0,  1,   2,   3,   4,   5,   6]
  out_layers: [0, 4, 8, 12, 11, 15, 19, 23]
  alt_start: 8
  qknorm_start: 8
  rope_start: 8
  cat_token: True

head:
  __object__:
    path: depth_anything_3.model.dualdpt
    name: DualDPT
    args: as_params

  dim_in: &head_dim_in 3072
  output_dim: 2
  features: &head_features 256
  out_channels: &head_out_channels [256, 512, 1024, 1024]
  # Depth head 使用深层特征 [23, 27, 33, 39]
  layer_indices: [3, 4, 5, 6] # 索引对应 layers [23, 27, 33, 39]

cam_enc:
  __object__:
    path: depth_anything_3.model.cam_enc
    name: CameraEnc
    args: as_params
  dim_out: 1536

cam_dec:
  __object__:
    path: depth_anything_3.model.cam_dec
    name: CameraDec
    args: as_params
  dim_in: 3072

seg_head:
  __object__:
    path: depth_anything_3.model.segdpt
    name: SegDPT
    args: as_params

  dim_in: *head_dim_in
  output_dim: 8
  features: *head_features
  out_channels: *head_out_channels
  head_name: "semantic"
  activation: "linear"
  # Seg head 使用浅层特征 [11, 15, 19, 23]（更多细节）
  layer_indices: [0, 1, 2, 3] # 索引对应 layers [11, 15, 19, 23]
